.header {
    height: 7rem;
    width: 100%;

    &__title {
        height: 2rem;
        width: 74rem;
        padding-left: 2.5rem;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.2rem;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5rem;
    }
}