.addObject__field {
    position: relative;
    height: 78rem;
    background: #FFFFFF;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    margin-top: 1rem;
    width: 100rem;
    //////////////
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    //////////////

    &__header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 6.5rem;
        padding-left: 3.2rem;
    }

    &__title {
        display: flex;
        align-items: center;
        height: 4rem;
        width: 100%;
        background-color: #F4F2FF;
        border-top: .1rem solid #D9D5EC;
        border-bottom: .1rem solid #D9D5EC;
        padding-left: 3.6rem;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3.2rem;
        background-color: #F4F2FF;
        border-radius: 0 0 .8rem .8rem;
    }
}