.RoomBlock__wrapper {
    display: flex;
    position: relative;
    min-height: 5.5rem;
    width: 100%;
    border-bottom: .1rem solid #D9D5EC;
}

.RoomBlock {
    height: 100%;
    display: flex;
    padding-left: 3rem;

    &__checkbox {
        position: absolute;
        left: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__block {
        display: flex;
        // justify-content: center;
        align-items: center;
        height: 2.75rem;
        width: 100%;
    }

    &__text {
        color: #25213B;
        font-style: normal;
        font-weight: normal;
    }

    &__title {
        font-family: 'Roboto';
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #25213B;
    }

    &__subtitle {
        font-family: 'Inter';
        color: #6E6893;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    &__left {
        position: relative;
        width: 25rem;
        padding-left: 7rem;
    }

    &__center {
        width: 19rem;
        position: relative;
        padding-left: 6rem;

        &__subtitle__text {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    }

    &__right {
        position: relative;
        width: 25rem;
        padding-left: 7rem;
    }
}