$primaryFieldFontColor: #6E6893;

.Building__wrapper {
    position: relative;
    height: 85rem;
    width: 110rem;
    // border: .1rem solid black;
    margin-left: 3rem;
    margin-top: 7.2rem;
    color: $primaryFieldFontColor;

    &__wrapper {
        width: 100%;
        height: 100%;
    }
}

.Building {

    &__header {
        position: relative;
        height: 8rem;
        width: 100%;

        &__mapIcon,
        &__documentIcon,
        &__clipboardIcon {
            position: relative;
        }

        &__title {
            height: 1.6rem;
            width: 73.8rem;
            display: flex;
            align-items: center;

            &__text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 2.1rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #6E6893;
            }
        }

        &__subtitle {
            padding-top: 1rem;
            align-items: center;
            display: flex;
            height: 5.4rem;
            width: 100%;

            &__square {
                margin-left: auto;

                &__text {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 1.4rem;
                    line-height: 1.7rem;
                    cursor: pointer;

                    & b {
                        font-size: 1.8rem;
                        color: #6d5bd0;
                    }
                }
            }
        }
    }

    &__field {
        height: 74.8rem;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
        border-radius: .8rem;

        &__header {
            display: flex;
            height: 6.4rem;
            width: 100%;
            border-bottom: .1rem solid #D9D5EC;

            &__search {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45.6rem;
                height: 100%;

                &__input {
                    position: relative;
                    width: 42.4rem;
                    height: 3.2rem;

                    & input {
                        height: 100%;
                        width: 100%;
                        background-color: #FFFFFF;
                        border: .1rem solid #98A1DA;
                        border-radius: .3rem;
                        outline: none;
                        padding-left: 4rem;
                        font-size: 1.6 rem;
                    }
                }
            }

            &__icons {
                margin-left: 1.6rem;
                width: 6.5rem;
                height: 100%;
                display: flex;
                align-items: center;
            }

            &__buttons {
                margin-left: 3.5rem;
                width: 28.8rem;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__meetings,
                &__registers {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 13.7rem;
                    height: 3.2rem;
                    border: .1rem solid #C6C2DE;
                    border-radius: .6rem;
                    padding-left: 4.7rem;
                    cursor: default;

                    &:hover {
                        border: .1rem solid #6D5BD0;
                    }

                    &__text {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 1.4rem;
                        line-height: 1.7rem;
                        color: #25213B;
                    }
                }

                &__registers {

                    &__wrapper {
                        position: relative;
                    }
                }
            }
        }

        &__body {
            height: 63.4rem;
            overflow: scroll;
            overflow-x: hidden;
        }



        &__title {
            position: relative;
            height: 4rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #F4F2FF;
            border-bottom: .1rem solid #D9D5EC;

            &__sub {
                width: 62rem;
                height: 100%;
                display: flex;
                margin-left: auto;
            }

            &__checkbox {
                position: absolute;
                left: 1.6rem;
                height: 2rem;
                width: 2rem;
            }
        }

    }


    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3.2rem;
        width: 100%;
        background-color: #F4F2FF;
    }
}