.structureBlock__wrapper {
    position: relative;
    height: 5.5rem;
    width: 100%;
    border-bottom: .1rem solid #D9D5EC;
}

.structureBlock__title {
    height: 2.75rem;
    width: 95%;
    padding-left: 4rem;
    display: flex;
    align-items: center;

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: #25213B;
    }
}

.structureBlock__subtitle {
    display: flex;
    align-items: center;
    height: 2.75rem;
    width: 100%;

    &__left {
        width: 20rem;
        padding-left: 4rem;

        &__text {
            font-family: 'Inter';
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 0.05em;
            color: #6E6893;
        }
    }

    &__right {
        width: 19rem;
        padding-left: 5.5rem;

        &__text {
            font-family: 'Roboto';
            font-size: 1.4rem;
            line-height: 1.6rem;
            color: #25213B;
        }
    }

}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clip::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 5rem;
    height: 50%;
    /* Градиент */
    background: -moz-linear-gradient(270deg, #FBFAFF 42.82%, rgba(255, 255, 255, 0.575491) 88.42%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(270deg, #FBFAFF 42.82%, rgba(255, 255, 255, 0.575491) 88.42%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(270deg, #FBFAFF 42.82%, rgba(255, 255, 255, 0.575491) 88.42%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(270deg, #FBFAFF 42.82%, rgba(255, 255, 255, 0.575491) 88.42%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(270deg, #FBFAFF 42.82%, rgba(255, 255, 255, 0.575491) 88.42%, rgba(255, 255, 255, 0) 100%);
}