$LeftSideWidth: 40rem;

.left-side__wrapper {
    height: 100vh;
    min-width: $LeftSideWidth;
    position: relative;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7rem;

        &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 56px;
            text-align: center;
            letter-spacing: 0.05em;
            cursor: default;
        }

    }

}