.objectTypes__type {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: .5rem;
    cursor: pointer;

    color: #6E6893;
        &:hover {
        border-bottom: .2rem solid #25213B;
        color: #25213B;
    }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.active {
    border-bottom: .2rem solid #25213B;
    color: #25213B;
}