.BuildsMenu__block__info__wrapper {
    position: absolute;
    top: 0;
    left: 35.3rem;
    width: 24rem;
    height: 26.4rem;
    background-color: #FFFFFF;
    box-shadow: 5px 0px 6px rgba(0, 0, 0, 0.2);

}

.BuildsMenu__block__info {

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 5.6rem;
        border-bottom: .1rem solid #D9D5EC;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 14.5rem;
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.3rem;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3.2rem;
            width: 20.8rem;
            background-color: #6D5BD0;
            border-radius: .3rem;
            border: none;
            cursor: pointer;

            &__text {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                font-size: 1.8rem;
                line-height: 2.1rem;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }
    }
}