.objects__select {
    display: block;
    margin: 0 auto;
    width: 32rem;
    height: 3.5rem;
    border: .1rem solid #98A1DA;
    border-radius: .2rem;
    font-size: 1.6rem;
    padding-left: .8rem;
}