.BuildsMenu__block__wrapper {
    position: relative;
    width: 100%;
    height: 5.6rem;
    border-bottom: .1rem solid #D9D5EC;
    cursor: default;

    &:hover {
        background-color: #F2F0F9;
    }

}

.BuildsMenu__block {
    &__title {
        display: flex;
        align-items: center;
        width: 90%;
        height: 2.8rem;
        padding-left: 1.6rem;
        padding-top: .5rem;

        &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.05em;
            color: #333333;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        height: 2.8rem;
        width: 90%;
        padding-left: 1.6rem;

        &__text {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: normal;
            font-size: 1.2rem;
            line-height: 1.4rem;
            letter-spacing: 0.05em;
            color: #666666;
        }
    }

}