.ObjectsSide__left__wrapper {
    padding-top: 4rem;
    height: 100%;
    width: 100%;
}

.ObjectsSide__left__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.5rem;
    width: 100%;
    border-bottom: .1rem solid #D9D5EC;
}