.addObject__inputBlock__wrapper {
    display: flex;
    width: 100%;
    height: 4rem;
    margin-top: 1.7rem;
    padding-left: 3.2rem;
}

.addObject__inputBlock {

    &__label {
        display: flex;
        align-items: center;
        width: 17rem;
        height: 100%;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }

    &__input {
        width: 34rem;
        height: 100%;
        background-color: #F4F2FF;
        border-radius: .6rem;
        border: none;
        padding-left: 1rem;
    }

}