.ObjectsSideHeader__position {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    z-index: 2;
    background-color: #fff;
}

.ObjectsSideHeader__wrapper {
    display: flex;
    position: relative;
    height: 4rem;
    border-bottom: .1rem solid #CCCCCC;
}