$LeftSideWidth: 40rem;

.App {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.left-side__wrapper {
  height: 100vh;
  min-width: $LeftSideWidth;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7rem;

    &__text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      letter-spacing: 0.05em;
      cursor: default;
    }

  }

}

.right-side__wrapper {
  position: relative;
  display: flex;
  flex-grow: 2;
  height: 100vh;
  background-color: #F2F0F9;
}