

.App {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.right-side__wrapper {
  position: relative;
  display: flex;
  flex-grow: 2;
  height: 100vh;
  background-color: #F2F0F9;
}