

.App {
  display: flex;
  position: relative;
}

.blocked {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.right-side__wrapper {
  position: relative;
  display: flex;
  flex-grow: 2;
  height: 100vh;
  background-color: #F2F0F9;
}
