$primaryFieldFontColor: #6E6893;

.addObject__wrapper {
    width: 100rem;
    height: 85rem;
    margin-left: 8rem;
    margin-top: 3.2rem;
    color: $primaryFieldFontColor;
}

.header {
    height: 7rem;
    width: 100%;

    &__title {
        height: 2rem;
        width: 74rem;
        padding-left: 2.5rem;

        &__text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.2rem;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }

    &__subtitle {
        display: flex;
        align-items: center;
        width: 100%;
        height: 5rem;
    }
}

.addObject__body {
    display: flex;
    height: 78rem;
    background: #FFFFFF;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    margin-top: 1rem;

    &__footer {
        width: 100%;
        height: 3.2rem;
        background-color: #F4F2FF;
        align-self: flex-end;
        border-radius: 0 0 .8rem .8rem;
    }
}