.BuildsMenu__block__info__text {
    height: 1.6rem;
    width: 100%;
    padding-left: 2.4rem;

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.05em;
        color: #333333;
    }
}